{% extends "layout.html" %}

{% block title %}CavenBot - About{% endblock %}

{% block page_content %}
	<h1>What is CavenBot?</h1>
	<p>
		CavenBot is a multi-purpose discord bot. It runs most core functions off of the Java Discord API (JDA), but it will eventually get an 
		increase in functionality that will let it be integrated with many web APIs like Destiny, and Twitch APIs.
	</p>
	<br>
	<h3>What can it do?</h3>
	<p>
		CavenBot can post join/leave logs, play music, handle basic admin commands like clear chat, kick, ban and unban.
	</p>
	<br>
	<h3>About the Creator</h3>
	<p>
		Hello! I'm Jordan, the creator of CavenBot and this site!
		I started this bot project as a side project while I was bored in my classes during college.
		This project was originally a way for me to get used to Python and as a way to get into multi-language projects, 
		which then became a passion project as I wanted to add more functionality to it. But after a few updates lately I had decided it would 
		be better to cut the python side in favour of my comfort zone with Java and have python only function for a web server to integrate with 
		web APIs rather than run half the bot.
	</p>
{% endblock %}